# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr

# VSCode settings
.vscode/

# Eclipse project files
.project
.classpath
.settings/

# Build and dependency directories
/build/
out/
target/
.gradle/
.mvn/
!gradle/wrapper/gradle-wrapper.jar
mvnw
mvnw.cmd

# Log files
*.log

# Test output
test-output/

# Temporary and backup files
*.swp
*.swo
*.tmp
*~
*.bak

# Compiled class files
*.class

# Node.js dependencies (if applicable)
node_modules/

# Environment variable files and local configuration
.env
*.env

# Build and dependency directories (모든 하위 디렉토리 포함)
**/build/
**/out/
**/target/
**/.gradle/
**/.mvn/

# Gradle Wrapper
!**/gradle/wrapper/gradle-wrapper.jar

# Maven Wrapper
**/mvnw
**/mvnw.cmd

#하위 디렉토리
**/application-local.yml
**/build/tmp/