# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr

# VSCode settings
.vscode/

# Eclipse project files
.project
.classpath
.settings/

# Build and dependency directories
/build/
out/
target/
.gradle/
.mvn/
!gradle/wrapper/gradle-wrapper.jar
mvnw
mvnw.cmd

# Log files
*.log

# Test output
test-output/

# Temporary and backup files
*.swp
*.swo
*.tmp
*~
*.bak

# Compiled class files
*.class

# Node.js dependencies (if applicable)
node_modules/

# Environment variable files and local configuration
.env
*.env
api/src/src/main/resources/application-local.yml